@charset 'utf-8';
/* common */

:root {
  --site-theme-color:  #FFFAF0;
  --site-theme-font-family: "HiraMinPro-W6";
}

body {
  margin: 0;
  user-select: none;
  background: var(--site-theme-color);
  font-family: var(--site-theme-font-family);
}

@media (min-width: 0px) and (max-width: 599px) {
  
}